<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="sortable.min.css" type="text/css">
    <link rel="stylesheet" href="diff.css" type="text/css">
    <title>Diff Index</title>
</head>

<body>
  <h2>{{ diff_data.file_name }}</h2>
  <h3>{{ diff_data.percent_match }}% match </h3>
  <a href="index.html">Back home</a>
  {{ diff_data.table }}
  <script src="bootstrap.min.js"></script>
  <script src="sortable.min.js"></script>
</body>
</html>