<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="sortable.min.css" type="text/css">
    <title>Diff Index</title>
</head>

<body>
  <h1>Diff Results</h1>
  <table class="table sortable">
    <thead>
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">Percent</th>
        </tr>
    </thead>
    {% for html in htmls %}
    <tr>
        <td>
            <a href="{{ html.link }}">
                {{ html.file_name }}
            </a>
        </td>
        <td>{{html.percent_match}}</td>
    </tr>
    {% endfor %}
  </table>
  <script src="bootstrap.min.js"></script>
  <script src="sortable.min.js"></script>
</body>
</html>